.wrapper {
    height: 100vh;
    background-color: #d5cdd6;
}

.header {
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: center;
    background-color: #2196F3;
}

.header__title {
    color: #2d2d2d;
    font-size: 20px;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex: 1;
    background-color: #d5cdd6;
}

.main__content {
    margin: 0 auto;
    padding-top: 150px;
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.auth-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 20px;
    background-color: #dee9de;
    text-align: center;
}

.auth-info__title {
    color: #2d2d2d;
    font-size: 18px;
}

.auth-info__image {
    margin: 0 auto;
    width: 70px;
    height: 70px;
}

.auth-info__text {
    color: #2d2d2d;
    text-transform: uppercase;
}

.btn-container {
    margin: 10px auto;
    display: flex;
    width: 210px;
    height: 50px;
}

.btn-container__item {
    width: 100%;
    height: 100%;
    font-weight: 700;
    text-decoration: none;
    font-size: 20px;
    color: #eaede8;
    line-height: 24px;
    border-radius: 3px;
    background: rgb(64,199,129);
    box-shadow: 0 -3px rgb(53,167,110) inset;
    transition: 0.2s;
    border: none;
    outline: none;
    cursor: pointer;
}

.btn-container__item:hover {
    background: rgb(53, 167, 110);
}

.btn-container__item:active {
    background: rgb(33,147,90);
    box-shadow: 0 3px rgb(33,147,90);
}

.btn-container__item--signOut {
    background-color: #b8543c;
}

.btn-container__item--signOut:hover {
    background: rgb(167, 48, 45);
}

.btn-container__item:active {
    background: rgb(147, 51, 51);
    box-shadow: 0 3px rgb(147, 57, 50);
}